<header>
  <span class="logo-spacer">
  <img class="logo" src="{{ site.url }}assets/img/My Logo3.png">
  </span>
  <nav id="dsk-nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
      
    </ul>
    
  </nav>
  <nav id="mob-nav">
  <i class="fas fa-bars"></i>
</nav>

</header>  

<div class="mobile-nav-container">
  <aside id="mobile-nav-window">
   <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
      </ul>
   </aside>
   </div>

<section class="hero-banner" >
    <img src="{{ site.url }}assets/img/Hero2.jpg" alt="hero image" width="100%">
</section>

</div>