---
layout: default
---

    <div class="content-container">
           
          <div>
            <img src="{{ site.url }}assets/img/Annual Report_mockup.jpg" alt="Poster Image" width="100%">
          </div>  
  
      <div class="white-copy">
        <h1>Annual Report</h1>
        <p>
          For this I was asked to design a layout for St. Clair’s 2018 anuual report. 
          My job was to take an overwhelming amount of text content and break it down 
          into something more digestiful and organized. From prices to graphs, to bios 
          there was no shortage in the variety of info that needed to be broken down. 
          To compliment each section I included geometric shapes to bring life to the 
          dull content and imagery that represented each section to also provide a visual 
          aspect to understand what the content is about in each individual section. 
          This was a fun  challenge to tackle and surely will not be the last.
          
        </p>
      </div>
    </div>

    <div class="content-container">
           
          <div>
            <img src="{{ site.url }}assets/img/Billboard mock up.jpg" alt="Poster Image" width="100%">
          </div>  
  
      <div class="white-copy">
        <h1>Teaz Brand</h1>
        <p>
          For this project I had to create a brand around a fictional carbonized energy 
          ice tea beverage. I needed to create a logo, social media post, billboard, and 
          bottle design. In the logo I made the “z” in Teaz into a lightning bolt to 
          symbolize the energy that the drink should be bringing to anyone who consumes it. 
          Everything from the colors to the cog all work together to inform consumers this 
          is a energy boosting drink, that will give you that edge you need when studying 
          overnight or after that long day at work. Its that sip of paradise that will take 
          you from a rainy day in the city, to a sunny sandy beach.
          
        </p>
      </div>
    </div>
                       
<div class="content-container">
           
      <div>
        <img src="{{ site.url }}assets/img/Brandstandards_mockup.jpg" alt="Poster Image" width="100%">
      </div>  

  <div class="white-copy">
    <h1>Brandstandards</h1>
    <p>
      For this I was asked to design a brand standards booklet for the Downtown Windsor BIA. 
      In this I needed to include a variety of things including logo minimum sizes, logo protective 
      space, colour application, incorrect usage of logo, colour palette, typography, envelope 
      dimensions, business card dimensions, letterhead dimensions, photography requirements, social 
      media post layouts, and icongraphy for an app or website. It was fun project to take on, having 
      the opportunity to design a wide range of elements.
      
    </p>
  </div>
</div>

<div class="content-container">
           
  <div>
    <img src="{{ site.url }}assets/img/Indoor Advertising Poster MockUp.jpg" alt="Poster Image" width="100%">
  </div>  

<div class="white-copy">
<h1>Fashion Show</h1>
<p>
  For this project the fashion program asked the students of the graphic design program 
  to create for them posters, tickets, and other layouts for extra information to help 
  them advertise their show visually in the community and around campus. Their theme for 
  that years fashion show was nature, with a color pallete subjected to the warm and 
  vibrant colors you would find in nature. If you look closely at the wood design, you 
  will see a models face forming at the top tying back to the fashion show. There was a 
  great deal of information that needed to be organized into a digestable layout, it was 
  a challenging, but fun project to take on.
  
</p>
</div>
</div>

<div class="content-container">
           
<div>
<img src="{{ site.url }}assets/img/Letter_mockup.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">  
<h1>Baseline Shift News Letter</h1>
<p>
For this I was asked to design a small news letter about typography and typography artists. 
Not only did I need to make a news letter, I was also asked to create a logo as well. Using 
diagonals and using modern patterning I created this fun design that engages with the viewer 
as they read text that has been titled on an odd angle and bold colours that draw’s your 
attention to each section.

</p>
</div>
</div>

<div class="content-container">
           
<div>
  <img src="{{ site.url }}assets/img/magazine_mockup.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">
<h1>Magazine Layout</h1>
<p>
  This project was open ended, so I had the opportunity to  create whatever I 
  wanted for a magazine design. For this I was responsible to create the title 
  page, a two page spreade, and a table of contents. EPSY means to catch sight 
  of (something that is distant, partially hidden, or obscure); glimpse. Which 
  I thought was perfect for a travel magazine. I wanted something new, modern, 
  and unique. So I played with harsh angles and geometric patterns to organize 
  and showcase that this is a modern travel magazine for todays adventures. 

</p>
</div>
</div>

<div class="content-container">
           
<div>
  <img src="{{ site.url }}assets/img/movie poster mockup - Copy.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">
<h1>Movie Poster</h1>
<p>
  This was an open ended project, we were free to design a poster based on a current or 
  made up film. So for this I did my design based off a post-apocolyptic movie called 
  “Rebbot”. This was an interesting piece as there were a lot of elements that needed to 
  go into making this a believable movie poster. But over all this was a fun project to 
  take on.

</p>
</div>
</div>

<div class="content-container">
           
<div>
  <img src="{{ site.url }}assets/img/Rugama_Coke mockup - Copy.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">
<h1>Coca Cola Can Layout</h1>
<p>
  For this I was asked to design the package design that would wrap around a can for Coca Cola. 
  The challenge was to create a Halloween themed design for their new flavour. For this design 
  I wanted to make sure the elements took the attention of both kids and adults. To grab the 
  attention of children I put elements like candy and an orange slice for the moon and for the 
  adults the zombie hand popping out from the ground. The design in general is simple and vectored 
  so that it keeps true to being inviting to both child and adult audiences.

</p>
</div>
</div>

<div class="content-container">
           
<div>
  <img src="{{ site.url }}assets/img/Rugama_PackageFront.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">
<h1>Feed Me Package Design</h1>
<p>
  For this project I was asked to create a dog food package and come up with a logo design. 
  The target market for this brand was large dogs who goes on a lot of hikes and trips with 
  their owners in the wilderness. So to capture that I created a logo that was messy, rough, 
  and broken to represent that messy and agressiveness of a dog wondering through the wild. 
  The colors by choice are bold and ment to leave the impression that this is not a cheap brand. 
  This is high end dog food, with all the nutrients they’ll need to remain healthy and strong.

</p>
</div>
</div>

<div class="content-container">
           
<div>
  <img src="{{ site.url }}assets/img/Sanson Mockup.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">
<h1>Sanson Winery Brochure</h1>
<p>
  For this project a client from Sanson Estate Winery wanted a brochure made 
  as a giveaway for tours, or as something that could be grabbed while at the 
  main building. The brochure is just to provide a brief discription about them 
  and what they do. All imagery and logo’s were provided. The client by request 
  asked that there was at least picture of their cows and one of their pigs. With 
  that came a small challenge as the photo of cows had a wired fence going right 
  through the picture which was asked to be removed. With a little photo editing, 
  its now like there was never a fence in the photo to begin with.
</p>
</div>
</div>

<div class="content-container">
           
<div>
  <img src="{{ site.url }}assets/img/stationary_mockup.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">
<h1>Strength Athletics Brand</h1>
<p>
  For this project I had to create an entire brand for a fictional all womans 
  sports wear company. For this project I needed to design them a logo, magazine 
  ad, trades show mockup, brochure, and an entire stationary set. I choose to make 
  the logo icon a lotus flower because the lotus resembles strength and perseverance 
  and continues to grow under difficult conditions. This relates very much to when 
  you train or are exercising to obtain a set goal. The logo is both feminine and 
  meaningful, but with a modern twist.
</p>
</div>
</div>

<div class="content-container">
           
<div>
  <img src="{{ site.url }}assets/img/website_mockup.jpg" alt="Poster Image" width="100%">
</div>  

<div class="white-copy">
<h1>Website Re-Design</h1>
<p>
  For the webiste design I was asked to recreate the design of an already 
  exsisting website that looked like trash and turn it into something more 
  visually pleasing. Dave’s Comics is a comic book webiste for a store in 
  Britain that sells a variety of genres from heroes to manga. 
</p>
</div>
</div>